PUBLIC_ALLOW_SIGNUP="false"  # Set to "true" to enable user registration

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

POSTGRES_HOST=localhost
POSTGRES_USER=sentio
POSTGRES_PASSWORD=sentio
POSTGRES_DB=sentio